.container {
  height: 100vh;

  .content {
    padding-top: 72px;
    overflow: auto;
  }
}

@media screen and (max-width: 750px) {
  .container {
    height: 100vh;
  
    .content {
      padding-top: 60px;
    }
  }
}