.container {
  padding: 80px;
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;

  .title {
    font-size: 32px;
    margin: 0 0 24px;
    font-weight: 600;
  }

  .orders {
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: repeat(2, 1fr);

    .order {
      display: flex;
      cursor: pointer;
      
      img {
        width: 64px;
        height: 64px;
        border-radius: 8px;
        overflow: hidden;
        object-fit: cover;
      }

      .info {
        flex: 1;
        margin: 0 12px;

        .name {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 4px;
        }
  
        .host {
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 4px;
        }
  
        .time {
          font-size: 12px;
          margin-bottom: 4px;
        }
  
        .price {
          font-size: 12px;
        }
      }

      p {
        margin: 0;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    padding: 18px;
  
    .title {
      font-size: 24px;
    }

    .orders {
      grid-template-columns: repeat(1, 1fr);
  
      .order {
        img {
          width: 48px;
          height: 48px;
        }
  
        .info {
          margin: 0 8px;
    
          .host {
            display: none;
          }
        }

        p {
          font-size: 12px;
        }
      }
    }

    h2 {
      font-size: 18px;
    }
  }
}
