.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;

  &.expand {
    display: block;
  }
}

.more {
  cursor: pointer;
  color: #2b403a;
  font-weight: 800;
}
