@font-face {
  font-family: NotoSansTC-Black;
  src: url('./font/NotoSansTC-Black.ttf');
}

@font-face {
  font-family: NotoSansTC-Bold;
  src: url('./font/NotoSansTC-Bold.ttf');
}

@font-face {
  font-family: NotoSansTC-ExtraBold;
  src: url('./font/NotoSansTC-ExtraBold.ttf');
}

@font-face {
  font-family: NotoSansTC-ExtraLight;
  src: url('./font/NotoSansTC-ExtraLight.ttf');
}

@font-face {
  font-family: NotoSansTC-Light;
  src: url('./font/NotoSansTC-Light.ttf');
}

@font-face {
  font-family: NotoSansTC-Medium;
  src: url('./font/NotoSansTC-Medium.ttf');
}

@font-face {
  font-family: NotoSansTC-Regular;
  src: url('./font/NotoSansTC-Regular.ttf');
}

@font-face {
  font-family: NotoSansTC-SemiBold;
  src: url('./font/NotoSansTC-SemiBold.ttf');
}

@font-face {
  font-family: NotoSansTC-Thin;
  src: url('./font/NotoSansTC-Thin.ttf');
}
