@import "../../../styles/breakpoints.module.scss";

.container {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;

  .left {
    flex: 1;
    padding: 48px;

    .name {
      margin-bottom: 12px;
    }

    .status {
      display: flex;
      gap: 24px;
      margin: 12px 0 36px;
  
      >div {
        padding: 12px 24px;
        border: 1px solid gray;
        border-radius: 100px;
        cursor: pointer;
  
        &.selected {
          background: #2b403a;
          color: white;
        }
      }
    }

    .day {
      width: calc(100% / 7);
      display: flex;
      justify-content: center;
      position: relative;
    
      &.today {
        button {
          color: red;
          border: none;
        }
      }
    
      .dot {
        width: 4px;
        height: 4px;
        background: black;
        position: absolute;
        bottom: 2px;
        left: calc(50% - 2px);
        border-radius: 100px;

        &.selected {
          display: none;
        }
      }
    }
    
    .calendar {
      span {
        width: calc(100% / 7);
      }
    }
  }

  .right {
    width: 300px;
    border-left: 1px solid gray;
    padding: 24px;

    .title {
      margin-bottom: 24px;
    }

    .orders {
      .order {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 8px 0;
        border-bottom: 1px solid gray;
        cursor: pointer;

        .bar {
          width: 8px;
          height: 40px;
          border-radius: 4px;
        }

        .bar0 {
          @extend .bar;
          background: red;
        }

        .bar1 {
          @extend .bar;
          background: beige;
        }

        .bar2 {
          @extend .bar;
          background: green;
        }

        .bar3 {
          @extend .bar;
          background: yellow;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint_mobile) {
  .content {
    flex-direction: column;
  
    .left {
      flex: none;
      padding: 16px;
      border-bottom: 1px solid gray;
  
      .status {
        gap: 12px;
        margin: 12px 0 36px;
    
        >div {
          padding: 8px;
        }
      }
    }
  
    .right {
      width: 100%;
      border-left: none;
      padding: 16px;
  
      .title {
        margin-bottom: 24px;
      }
  
      .orders {
        .order {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 8px 0;
          border-bottom: 1px solid gray;
          cursor: pointer;
  
          .bar {
            width: 8px;
            height: 40px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
