.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
  padding: 48px;
  box-sizing: border-box;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.4);
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    .title {
      font-size: 60px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  
    .subtitle {
      font-size: 20px;
    }
  }
}

.description {
  background: #2b403a;
  padding: 120px;

  .content {
    display: flex;
    color: #fff;

    .text {
      flex: 1;
      margin-right: 24px;

      .title {
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 36px;
        color: #fff;
      }

      p {
        margin: 0 0 12px;
        font-size: 16px;
      }

      button {
        display: block;
        height: 56px;
        width: 150px;
        background-color: #f8f6eb;
        border-radius: 10px;
        border: none;
        color: #2b403a;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 36px;
      }
    }

    img {
      width: 50%;
      border-radius: 4px;
      object-fit: cover;
    }

    button {
      display: none;
    }
  }
}

.adventure {
  background: #fff;
  padding: 120px;

  .title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 36px;
  }

  .cards {
    display: flex;
    justify-content: space-between;

    .card {
      width: 30%;
      border-radius: 4px;
      color: #2b403a;
      background: #f8f6eb;
      padding: 16px;
      box-sizing: border-box;

      p {
        font-size: 24px;
        font-weight: 600;
        margin: 0 0 8px;
      }

      div {
        margin-bottom: 11px;
        font-size: 16px;
      }
    }
  }
}

.how {
  background: #2b403a;
  padding: 120px;
  display: flex;
  align-items: center;
  color: #fff;

  .title {
    font-size: 32px;
    font-weight: 800;
    flex: 1;
    margin-right: 12px;
  }

  .content {
    font-size: 18px;
    font-weight: 400;
    flex: 1;
    margin-left: 12px;

    div {
      margin-bottom: 12px;
    }

    button {
      height: 56px;
      width: 150px;
      background-color: #f8f6eb;
      border-radius: 10px;
      border: none;
      color: #2b403a;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      margin-top: 36px;
    }
  }
}

.menus {
  background: #fff;
  padding: 120px;

  .title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 36px;
  }

  .cards {
    width: 100%;
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.sendEmail {
  padding: 120px 120px;
  box-sizing: border-box;
  display: flex;
  background-color: #f8f6eb;

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 48px;
    box-sizing: border-box;

    .title {
      font-size: 32px;
      font-weight: 800;
      margin-bottom: 16px;
      color: #2b403a;
    }

    .subtitle {
      font-size: 16px;
      color: #323023;
    }
  }

  .input {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      width: 100%;
      margin-bottom: 24px;
      height: 52px;
      border-radius: 10px;
      border: 1px solid gray;
      padding: 0 24px;
      box-sizing: border-box;
      font-size: 16px;
    }

    button {
      height: 56px;
      width: 150px;
      background-color: #2b403a;
      border-radius: 10px;
      border: none;
      color: #f8f6eb;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 750px) {
  .banner {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 32px 18px;
  
    .text {
      align-items: flex-start;
  
      .title {
        font-size: 32px;
      }

      .subtitle {
        font-size: 16px;
      }
    }
  }
  
  .description {
    padding: 32px 0;
  
    .content {
      flex-direction: column;
  
      .text {
        margin-right: 0;
        padding: 0 18px;
        box-sizing: border-box;
        font-size: 16px;

        .title {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 16px;
        }

        button {
          display: none;
        }
      }
  
      img {
        border-radius: 4px;
        object-fit: cover;
        width: 100%;
        margin-top: 24px;
      }

      button {
        display: block;
        height: 56px;
        width: 150px;
        background-color: #f8f6eb;
        border-radius: 10px;
        border: none;
        color: #2b403a;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        margin: auto;
        margin-top: 32px;
      }
    }
  }
  
  .adventure {
    padding: 32px 18px;
  
    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  
    .cards {
      flex-direction: column;
  
      .card {
        width: 100%;
        margin-bottom: 18px;

        p {
          font-size: 18px;
        }
  
        div {
          font-size: 16px;
        }
      }
    }
  }
  
  .how {
    padding: 32px 18px;
    align-items: flex-start;
    flex-direction: column;
  
    .title {
      font-size: 24px;
      font-weight: 600;
      margin-right: 0;
      margin-bottom: 12px;
    }
  
    .content {
      margin-left: 0;
      font-size: 16px;

      button {
        margin-top: 18px;
      }
    }
  }
  
  .menus {
    padding: 32px 18px;
    margin-right: 0;
  
    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 8px;
    }
  
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .sendEmail {
    padding: 48px 18px;
    flex-direction: column;
  
    .text {
      padding-right: 0;
      margin-bottom: 24px;;
  
      .title {
        font-size: 32px;
        margin-bottom: 16px;
      }
    }
  
    .input {
      width: 300px;
  
      button {
        height: 48px;
      }
    }
  }
}
