.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f6eb;

  .banner {
    width: 100%;
    padding: 48px 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: #fff;

    .text {
      flex: 1;
      padding-right: 24px;
      box-sizing: border-box;

      .title {
        font-size: 42px;
        margin-bottom: 16px;
        font-weight: 800;
        color: #2b403a;
      }

      .subtitle {
        font-size: 18px;
        color: #323023;
      }
    }

    .image {
      flex: 1;
      border-radius: 16px;
      overflow: hidden;
      height: 405px;
      min-width: 405px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .info {
    width: 100%;
    padding: 120px 80px 80px;
    box-sizing: border-box;

    .infoTitle {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 48px;
      text-align: center;
      color: #2b403a;
    }

    .steps {
      display: flex;
      justify-content: space-between;
      text-align: center;
      position: relative;

      .lineContainer {
        position: absolute;
        top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
      
        .line {
          border-top: dashed 2px #323023;
          width: 78%;
        }

        .line2 {
          border-top: dashed 2px #323023;
          width: 70%;
        }
      }

      .step {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 12px;

        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .number {
          border: solid 2px #323023;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          border-radius: 40px;
          font-size: 18px;
          height: 40px;
          width: 40px;
          margin-bottom: 16px;
          z-index: 1;
        }

        .title {
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 16px;
          color: #323023;
        }

        .content {
          font-size: 16px;
          margin-bottom: 16px;
          color: #807b67;
        }

        button {
          background-color: #2b403a;
          margin-bottom: 96px;
        }
      }
    }
  }

  .footer {
    width: 100%;
    padding: 24px 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 10px;
    color: #323023;

    .buttons {
      display: flex;

      .button {
        margin-left: 24px;
        cursor: pointer;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    .banner {
      padding: 0 0 48px 0;
      margin: 0;
      height: auto;
      flex-direction: column-reverse;
  
      .text {
        padding: 0 24px;
  
        .title {
          font-size: 32px;
          margin-bottom: 8px;
        }
  
        .subtitle {
          font-size: 16px;
        }
      }
  
      .image {
        border-radius: 0;
        overflow: hidden;
        height: 240px;
        min-width: auto;
        width: 100%;
        margin-bottom: 48px;
  
        img {
          width: 100%;
          height: 240px;
          object-fit: cover;
        }
      }
    }

    .info {
      padding: 52px 18px;
  
      .infoTitle {
        font-size: 32px;
        font-weight: 600;
      }
  
      .steps {
        flex-direction: column;
        align-items: center;
  
        .lineContainer {
          display: none;
        }
  
        .step {
          width: 40%;
          min-width: 300px;
  
          .number {
            border-radius: 40px;
            font-size: 18px;
            height: 40px;
            width: 40px;
            margin-bottom: 16px;
            z-index: 1;
          }
  
          button {
            margin-bottom: 48px;
          }
        }
      }
    }

    .footer {
      width: 100%;
      padding: 24px;
  
      .buttons {
        margin: 0;
      }
    }
  }
}
