.container {
  padding: 80px;
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;

  .title {
    font-size: 32px;
    margin: 0 0 12px;
    font-weight: 600;
  }

  .info {
    padding: 18px 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 100%;

    &:last-child {
      border: none;
    }

    h5 {
      margin: 0 0 8px;
      font-size: 16px;
      font-weight: 400;
      color: rgb(157, 157, 157);
    }

    h6 {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }

    input {
      font-size: 18px;
      font-weight: 500;
      padding: 8px 12px;
      border: 1px solid rgb(119, 119, 119);
      background-color: white;
      border-radius: 8px;
      box-sizing: border-box;
      width: 300px;
    }
  }

  button {
    margin-top: 18px;
    width: 150px;
    height: 36px;
    background-color: #2b403a;
    border-radius: 10px;
    border: none;
    color: #f8f6eb;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
  }
}

@media screen and (max-width: 750px) {
  .container {
    padding: 18px;
  
    .title {
      font-size: 24px;
    }
  
    .info {
      padding: 12px 0;

      h5 {
        margin: 0 0 4px;
      }

      input {
        width: 100%;
      }
    }

    button {
      width: 100%;
    }
  }
}
